<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Club joining form</title>
  </head>
  <body>
    <form action="/clubJoinPost" method="POST">
      Select a club to join:
      <select name="clubName" id="clubName">
        <option value="">Select</option>
        <% clubList.forEach(item => { %>
        <option value="<%= item.club_name %>"><%= item.club_name %></option>
        <% }) %>
      </select>

      <br /><br />

      <label for="passcode">Enter Club Passcode</label>
      <input id="passcode" name="passcode" type="password" required />

      <button type="submit">Join</button>

      <p>
        <em>You'll see homepage if success and error message if it fails</em>
      </p>
      <%- include('partials/errors.ejs') %>
    </form>
  </body>
</html>
