<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Club joining form</title>
  </head>
  <body>
    <form action="/clubJoinPost" method="POST">
      Select a club to join:
      <select name="clubId" id="clubId">
        <option value="">Select</option>
        <% clubList.forEach(item => { %>
        <option value="<%= item.club_id %>"><%= item.club_name %></option>
        <% }) %>
      </select>
      <button type="submit">Join</button>
    </form>
  </body>
</html>
